@font-face {
    font-family: "manrope-medium";
    src: url(../fonts/Manrope-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "manrope-bold";
    src: url(../fonts/Manrope-Bold.ttf) format("truetype");
}
