@import "./fonts";
@import "./typography";
@import "./color";
@import "./responsive";
@import "./animation";
@import "./index";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $lightGrayishBlue;
    line-height: 1.4;
}